[v-cloak] {
    display: none;
}

/* like button unpressed*/
.likeComponentGroup {
    float:left;
    width: 50%;
}

.likeButton {
    background-color: gainsboro;
    height: 30px;
}

.pressed {
    color: blue;
}

/* comment and save button group */
.commentAndSaveGroup {
    float: right;
    width: 50%;
}

.saveButton {
    background-color:darkgray;
    height:30px;
}

/* first comment of the post*/

.firstCommentOfThePost {
    float:left;
    background-color:lightgray;
    width:100%;
}